/* RecentlyPlayed.css */

.recent-page {
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(135deg, #350505, #1c1c1c);
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.recent-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #00ffcc;
  animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.recent-song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  animation: fadeIn 1s ease-in;
  padding: 0;
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-recent{
  margin-top: 3rem;
  font-size: 3rem;
  color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s ease-in;
}

.recent-song-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recent-song-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 255, 204, 0.3);
}

.recent-song-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.song-info p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.3rem 0;
}

.song-info span {
  color: #aaa;
  font-size: 0.9rem;
}

.duration {
  margin-top: 0.5rem;
  color: #00ffcc;
  font-weight: 500;
}
